In [1]:
library('tidyverse')

Warning message:
“Failed to locate timezone database”
── Attaching core tidyverse packages ──────────────────────── tidyverse 2.0.0 ──
✔ dplyr     1.1.3     ✔ readr     2.1.4
✔ forcats   1.0.0     ✔ stringr   1.5.0
✔ ggplot2   3.4.3     ✔ tibble    3.2.1
✔ lubridate 1.9.2     ✔ tidyr     1.3.0
✔ purrr     1.0.2
── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()
ℹ Use the conflicted package (<http://conflicted.r-lib.org/>) to force all conflicts to become errors

This is the data we'll use:

In [2]:
df.marathon = read.csv('../data//marathon.csv')
df.marathon |> head()

  year name                       country       time       race.time MF
1 2019 Lawrence Cherono           Kenya         2H 7M 57S  2.132500  Men's
2 2018 Yuki Kawauchi              Japan         2H 15M 58S 2.266111  Men's
3 2017 Geoffrey Kirui             Kenya         2H 9M 37S  2.160278  Men's
4 2016 Lemi Berhanu               Ethiopia      2H 12M 45S 2.212500  Men's
5 2015 Lelisa Desisa              Ethiopia      2H 9M 17S  2.154722  Men's
6 2014 Mebrahtom "Meb" Keflezighi United States 2H 8M 37S  2.143611  Men's
  country.simple
1 Kenya
2 Japan
3 Kenya
4 Ethiopia
5 Ethiopia
6 United States

What's the best race time? (*Hint: use `summarize` with the `min` function*)

In [3]:
df.marathon |>
    summarize(best_time = min(race.time))

  best_time
1 2.050556

What's the best race time for the men and women?

In [13]:
df.marathon |> top_n(n=1, wt=race.time)

  year name         country       time       race.time MF      country.simple
1 1972 Nina Kuscsik United States 3H 10M 26S 3.173889  Women's United States

In [5]:
df.marathon |>
    group_by(MF) |>
    summarize(best_time = min(race.time))

  MF      best_time
1 Men's   2.050556
2 Women's 2.333056

What's the median race time for the US women? (*Hint: use `|> filter(country == "United States")` to filter the data to just the US*)

In [22]:
df.marathon |>
    group_by(MF) |>
    filter(country == "United States", MF == "Women's") |>
    summarize(median_time = median(race.time))

  MF      median_time
1 Women's 2.766944

What's the median race time for the Kenyan men? (*Hint: use `|> filter(country == "Kenya")` to filter the data to just Kenya*)

In [29]:
df.marathon |>
    group_by(MF) |>
    filter(country == "Kenya") |>
    summarize(median_time = median(race.time))

  MF      median_time
1 Men's   2.155139
2 Women's 2.411389

How many winners have there been for the US and Kenya?

In [34]:
df.marathon |>
    filter(country %in% c("United States", "Kenya")) |>
    #count(country)
    group_by(country, MF) |>
    summarize(n=n()) |>
    group_by(country) |>
    #summarize(total_winners = sum(n))
    mutate(total_winners = sum(n), n_frac = n / total_winners_by_country

ERROR: Error in parse(text = x, srcfile = src): <text>:9:0: unexpected end of input
7:     #summarize(total_winners = sum(n))
8:     mutate(total_winners = sum(n), n_frac = n / total_winners_by_country
  ^

In [26]:
df.marathon |>
    filter(country == "Kenya" | country == "United States")

   year name                       country       time       race.time MF
1  2019 Lawrence Cherono           Kenya         2H 7M 57S  2.132500  Men's
2  2017 Geoffrey Kirui             Kenya         2H 9M 37S  2.160278  Men's
3  2014 Mebrahtom "Meb" Keflezighi United States 2H 8M 37S  2.143611  Men's
4  2012 Wesley Korir               Kenya         2H 12M 40S 2.211111  Men's
5  2011 Geoffrey Mutai             Kenya         2H 3M 2S   2.050556  Men's
6  2010 Robert Kiprono Cheruiyot   Kenya         2H 5M 52S  2.097778  Men's
7  2008 Robert Kipkoech Cheruiyot  Kenya         2H 7M 46S  2.129444  Men's
8  2007 Robert Kipkoech Cheruiyot  Kenya         2H 14M 13S 2.236944  Men's
9  2006 Robert Kipkoech Cheruiyot  Kenya         2H 7M 14S  2.120556  Men's
10 2004 Timothy Cherigat           Kenya         2H 10M 37S 2.176944  Men's
11 2003 Robert Kipkoech Cheruiyot  Kenya         2H 10M 11S 2.169722  Men's
12 2002 Rodgers Rop                Kenya         2H 9M 2S   2.150556  Men's
13 2000 Elijah Lagat               Kenya         2H 9M 47S  2.163056  Men's
14 1999 Joseph Chebet              Kenya         2H 9M 52S  2.164444  Men's
15 1998 Moses Tanui                Kenya         2H 7M 34S  2.126111  Men's
16 1997 Lameck Aguta               Kenya         2H 10M 34S 2.176111  Men's
17 1996 Moses Tanui                Kenya         2H 9M 15S  2.154167  Men's
18 1995 Cosmas Ndeti               Kenya         2H 9M 22S  2.156111  Men's
19 1994 Cosmas Ndeti               Kenya         2H 7M 15S  2.120833  Men's
20 1993 Cosmas Ndeti               Kenya         2H 9M 33S  2.159167  Men's
21 1992 Ibrahim Hussein            Kenya         2H 8M 14S  2.137222  Men's
22 1991 Ibrahim Hussein            Kenya         2H 11M 6S  2.185000  Men's
23 1988 Ibrahim Hussein            Kenya         2H 8M 43S  2.145278  Men's
24 1983 Greg A. Meyer              United States 2H 9M 0S   2.150000  Men's
25 1982 Alberto Salazar            United States 2H 8M 52S  2.147778  Men's
26 1980 Bill Rodgers               United States 2H 12M 11S 2.203056  Men's
27 1979 Bill Rodgers               United States 2H 9M 27S  2.157500  Men's
28 1978 Bill Rodgers               United States 2H 10M 13S 2.170278  Men's
29 1976 Jack Fultz                 United States 2H 20M 19S 2.338611  Men's
30 1975 Bill Rodgers               United States 2H 9M 55S  2.165278  Men's
⋮  ⋮    ⋮                          ⋮             ⋮          ⋮         ⋮
59 1908 Thomas P. Morrissey        United States 2H 25M 43S 2.428611  Men's
60 1906 Timothy Ford               United States 2H 45M 45S 2.762500  Men's
61 1905 Frederick Lorz             United States 2H 38M 25S 2.640278  Men's
62 1904 Michael Spring             United States 2H 38M 4S  2.634444  Men's
63 1903 John C. Lorden             United States 2H 41M 29S 2.691389  Men's
64 1902 Sammy A. Mellor            United States 2H 43M 12S 2.720000  Men's
65 1899 Lawrence Brignolia         United States 2H 54M 38S 2.910556  Men's
66 1897 John J. McDermott          United States 2H 55M 10S 2.919444  Men's
67 2018 Desiree Linden             United States 2H 39M 54S 2.665000  Women's
68 2017 Edna Kiplagat              Kenya         2H 21M 52S 2.364444  Women's
69 2015 Caroline Rotich            Kenya         2H 24M 55S 2.415278  Women's
70 2013 Rita Jeptoo                Kenya         2H 26M 25S 2.440278  Women's
71 2012 Sharon Cherop              Kenya         2H 31M 50S 2.530556  Women's
72 2011 Caroline Kilel             Kenya         2H 22M 36S 2.376667  Women's
73 2009 Salina Kosgei              Kenya         2H 32M 16S 2.537778  Women's
74 2006 Rita Jeptoo                Kenya         2H 23M 38S 2.393889  Women's
75 2005 Catherine Ndereba          Kenya         2H 25M 13S 2.420278  Women's
76 2004 Catherine Ndereba          Kenya         2H 24M 27S 2.407500  Women's
77 2002 Margaret Okayo             Kenya         2H 20M 43S 2.345278  Women's
78 2001 Catherine Ndereba          Kenya         2H 23M 53S 2.398056  Women's
79 2000 Catherine Ndereba          Kenya         2H 26M 11S 2.436389  Women's
80 1985 Lisa Larsen-Weidenbach     United States 2H 34M 6S  2.568333  Women's
81 1983 Joan Benoit                United States 2H 22M 43S 2.378611  Women's
82 1979 Joan Benoit                United States 2H 35M 15S 2.587500  Women's
83 1978 Gayle S. Barron            United States 2H 44M 52S 2.747778  Women's
84 1977 Michiko (Miki) Gorman      United States 2H 48M 33S 2.809167  Women's
85 1976 Kim Merritt                United States 2H 47M 10S 2.786111  Women's
86 1974 Michiko (Miki) Gorman      United States 2H 47M 11S 2.786389  Women's
87 1973 Jacqueline A. Hansen       United States 3H 5M 59S  3.099722  Women's
88 1972 Nina Kuscsik               United States 3H 10M 26S 3.173889  Women's
   country.simple
1  Kenya
2  Kenya
3  United States
4  Kenya
5  Kenya
6  Kenya
7  Kenya
8  Kenya
9  Kenya
10 Kenya
11 Kenya
12 Kenya
13 Kenya
14 Kenya
15 Kenya
16 Kenya
17 Kenya
18 Kenya
19 Kenya
20 Kenya
21 Kenya
22 Kenya
23 Kenya
24 United States
25 United States
26 United States
27 United States
28 United States
29 United States
30 United States
⋮  ⋮
59 United States
60 United States
61 United States
62 United States
63 United States
64 United States
65 United States
66 United States
67 United States
68 Kenya
69 Kenya
70 Kenya
71 Kenya
72 Kenya
73 Kenya
74 Kenya
75 Kenya
76 Kenya
77 Kenya
78 Kenya
79 Kenya
80 United States
81 United States
82 United States
83 United States
84 United States
85 United States
86 United States
87 United States
88 United States